@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    ;
}

body {

    background-color: rgba(0, 0, 0, 0.966);
}

.home {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 20px;
}

header h1 {
    font-size: 4rem;
    margin-left: 20px;
    font-weight: 600;
    color: white;
}

.home-central {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    color: #0097b2;
}

nav {
    margin: 30px 40px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-right: 50px;
    position: relative;
    transition: 0.5s;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #0097b2;
    transition: 0.5s;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #0097b2;
    transform: translateY(-5px);
}

.segundotitulo {
    margin-top: 200px;
    margin-left: 60px;
}

.meu-nome {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.segundotitulo h2 {
    font-size: 4.3rem;
    color: #fff;
}

.desc-menu {
    color: #fff;
    font-size: 21px;
    margin-top: 14px;
    line-height: 1.6;

}

a {
    text-decoration: none;
}

.segundotitulo a {
    margin-top: 20px;
    display: inline-flex;
    color: white;
    background-color: #073952;
    padding: 20px 90px;
    border-radius: 17px;
    font-size: 22px;
    transition: 0.5s ease;
}

.segundotitulo a:hover {
    opacity: 0.8;
    transform: scale(1.08);
}

#image {
    margin-right: 300px;
    margin-top: 130px;
    display: flex;
}

#image img {
    width: 110px;
    height: 130px;
    margin-right: 10px;
    transition: 0.5s;
}

#image img:hover {
    transform: translateY(-10px);
}

.js {
    margin-top: -60px;
}

#projetos {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projetos h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
    color: #fff;
}

.project {
    background-color: #010810;
    box-shadow: rgba(0, 0, 0, 0.631) 12px 13px 10px;
    height: 550px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
}

.project h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 20px 0;
}

.project p {
    text-align: center;
}

.project img {
    width: 100%;
    border-radius: 15px;
}

.project svg {
    width: 25px;
    height: 25px;
    position: relative;
    top: 8px;
    right: 5px;
}

.links {
    margin-top: 50px;
}

.links a {
    display: inline-block;
    font-size: 19px;
    padding: 7px 60px;
    margin-left: 10px;
    margin-bottom: 60px;
    background-color: #071b25;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    transition: 0.4s;
}

.links a:hover {
    background-color: #062738;
    transform: scale(1.05);
}

.links a:active {
    opacity: 0.6;
}


#sobremim {
    margin-top: 120px;
    padding-bottom: 20px;
    background-color: #062738;
    color: #fff;
    box-shadow: #073952b0 0px -5px 6px 6px;
}

#sobremim h1 {
    text-align: center;
    padding-top: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
}

#sobremim p {
    font-size: 22px;
    line-height: 1.5;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    
}

footer {
    height: 100px;
    padding-top: 10px;
    background-color: #071b25;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
footer h1 {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}
footer svg {
        width: 40px;
        height: 40px;
        color: #fff;
        transition: 0.5s;
    }
footer svg:hover {
    transform: scale(1.1);
    }
footer p {
    align-items: center;
    margin-left: 26%;
    color: #fff;
    font-size: 1.3em;
    font-family: "Montserrat" sans-serif;
}
